@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #21764C;
  --color-primary-hover: #1E7E34;
  --color-primaryBG: #A3D9A5;
  --color-active: #007BFF;
  --color-secondaryBG: #D6EFFF;
}


.sora {
  font-family: "Sora", sans-serif;
}

.active {
  color: #21764C;
  background: #D6EFFF;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.ant-menu-item-selected {
  background-color: #21764C !important;
}